.mainPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.sectorChart {
}

.chemChart {
}

.progressBarCont {
  margin-top: 280px;
  width: 75%;
}

.linearProgressBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingMsg {
  color: green;
  margin-bottom: 15px;
  font-style: italic;
  font-size: medium;
}

.text1 {
  border: mediumorchid;
}
.text2 {
  border: mediumpurple;
}

.chartCont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  padding: 15px 0px 40px 10px;
}

.respCont {
  border: mediumpurple;
}

.sectorCss {
}

.recharts-surface {
  min-width: 999 !important;
}

.headerCont2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip {
  margin-left: 15px;
}

.strainCardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.tagTitle {
  margin-bottom: 10px;
}
.loginSignupCont {
  display: flex;
  justify-content: space-between;
  margin: 9px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.loginLink {
  cursor: pointer;
  color: #1faa00;
}

.loginLink:hover {
  color: #64dd17;
}

.loginError {
  color: rgba(56, 233, 29, 0.913);
  margin: 40px;
  width: 60%;
  margin-bottom: 0px;
}

.welcomeContainer {
  background: darkseagreen;
  opacity: 0.9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.entryList {
  width: fit-content;
}

.welcomeText {
  width: 75%;
}

.entryListCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomePrompt {
  margin: 30px;
  display: inherit;
}

.welcomeBtns {
  align-content: center;
  margin: 30px;
  display: grid;
  justify-items: center;
  row-gap: 10px;
}


.helper {
  --reactour-accent: #5cb7b7;
  color: #2d2323;
}

.mask {
  color: rgb(38, 194, 38)9);
  opacity: 0.5;
}